*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #eff4fd;
 
}

header{
    width: 100%;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{ 
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
 }

 nav ul li a:hover{
    color: #4FAAE2;
 }

 #home{
    display: flex;
    
}
.deatils,.images{
    width: 50%;
}
 .deatils{
    margin-left: 8%;
    margin-top: 10%;
 }

 .deatils h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
 }

 span{
    color: #4FAAE2;
 }

 .deatils p{
    color:#555;
    line-height: 22px;
 }

 .deatils a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
 }

 .deatils a:hover{
    background: #fff;
    color: #212121;
  border: 1px solid #212121;
 }

 .images{
    position: relative;
    height: 600px;

}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    transition: bottom 1s , left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.myImage{
    left: 40%;
}
.images:hover .myImage{
    left: 45%;
}




footer{
   
    width: 100%;
    background-color: #212121;
    color: white;
    text-align: center;
    padding: 30px 0;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #4FAAE2;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  footer i{
    font-size: 35px;
  }


  .contact-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 144px 0;
    border-radius: 4px;
    background-color: #201245;
  }
  
  .contact-form {
    position: relative;
    flex-grow: 1;
    padding: 0px 48px;
    background-color: #ffffff;
  }
  
  .contact-form::before {
    position: absolute;
    content: "";
    top: -96px;
    left: 0;
    width: 100%;
    height: calc(100% + 192px);
    background-color: #ffffff;
    border-radius: 4px;
    z-index: -100;
  }
  
  .contact-form .heading {
    margin-bottom: 48px;
  }
  
  .contact-form .heading h2 {
    margin-bottom: 8px;
    color: #27272a;
    font-size: 36px;
  }
  
  .contact-form .heading p {
    color: #4b5563;
    font-size: 16px;
  }
  
  .contact-form .input {
    position: relative;
    margin-bottom: 24px;
  }
  
  .contact-form .input input,
  .contact-form .input textarea {
    width: 100%;
    padding: 8px 8px 8px 42px;
    border: 1px solid #d4d4d8;
    border-radius: 4px;
    background-color: #fafafa;
    font-size: 14px;
  }
  
  .contact-form .input i {
    position: absolute;
    top: 10px;
    left: 12px;
    color: #4b5563;
  }
  
  .contact-form .button {
    padding: 12px 36px;
    border: none;
    border-radius: 4px;
    background-color: #212121;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .contact-form .button:hover{
    background: #fff;
    color: #212121;
  border: 1px solid #212121;
 }

  .contact-form .button:active {
    box-shadow: inset 0 0 4px 2px #304ffe;
  }
  
  .contact-info {
    padding: 96px 48px;
    color: #e4e4e7;
  }
  
  .contact-info .heading {
    margin-bottom: 48px;
    font-size: 24px;
  }
  
  .contact-info .contacts li {
    padding-left: 24px;
    margin-bottom: 32px;
    font-size: 14px;
  }
  
  .contact-info .contacts li i {
    width: 24px;
    padding-right: 12px;
  }
  
  .contact-logo {
    position: relative;
    padding: 24px 32px 40px 32px;
  }
  
  .contact-logo::after {
    position: absolute;
    content: "";
    top: 64px;
    left: 32px;
    font-size: 14px;
    color: #e4e4e7;
  }
  
  @media screen and (max-width: 1024px) {
    .contact-container {
      flex-direction: column;
      margin: 0;
    }
  
    .contact-form {
      padding: 96px 48px;
    }
  }

  
  .skills-section{
    padding: 30px;
    background-color: #201245;
    }
    
    .skills-header{
    text-align: center;
    color: #fff;
    padding: 1rem;
    position: relative;
    }
    
    .skills-header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background-color: #ddd;
    border-radius: 2px;
    }
    
    .skills-container{
    display: grid;
    grid-tempLate-columns: repeat(4, 1fr);
    justify-content:center;
    align-items:center;
    text-align: center;
    grid-gap:1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
    }
    .skills-box{
    padding: 1rem;
    color: #ddd;
    cursor:pointer;
    }
    .skills-box:hover > .skills-title::after, 
    .skills-box:hover > .skills-title::before{
    width: 30px;
    }
    .skills-box:hover .skills-img{
    transform: translateX(-20px);
    }
    
    .skills-title{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
    }
    
    .skills-title:after{
    content: '';
    position:absolute;
    bottom: 0;
    right: 50%;
    width:20px;
    height:4px;
    border-radius: 2px 0 0 2px;
    background-color: #ddd;
    transition: .5s;
    }
    
    .skills-title:before{
    content: '';
    position:absolute;
    bottom: 0;
    left: 50%;
    width:100px;
    height:4px;
    border-radius: 0 2px 2px 0;
    background-color: #ddd;
    }
    
    .skills-icons{
    width:50px;
    z-index:2;
    }
    
    .skills-img{
    width:90px;
    height:90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: .5s;
    }
    
    .skills-img:after{
    content: '';
    position:absolute;
    top:0;
    left: 0;
    width:50%;
    height:90px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
    }
    .skills-title h3{
    color: #eff4fd;
    margin-top: 0.5rem;
    }

    .boxAbout{
      display: flex;width: 90%;margin: 50px auto;gap: 5%;
    }
    @media screen and (max-width:990px){
     .skills-container{
     grid-tempLate-columns: repeat(2, 1fr);
     padding: 2rem 50px;
     }
    }
    
    @media screen and (max-width:650px){
     .skills-container{
     grid-tempLate-columns:2fr;
     padding: 2rem 50px;
     }
     .boxAbout{
      flex-direction: column;
     }
     .images img {
      height: auto;
      width: 100%;
    }

     .images{
      height: 433px;
     }
    }

    .logo{
      width: 200px;
    }

    .burger{
      display: none;
    }
@media only screen and (max-width: 600px) {
    #home{
        flex-direction: column;
    }
    .deatils,.images{
        width: 90%;
        margin: 0 auto;
    }
    
    .contact-logo {
        display: flex;
        justify-content: center;
      }
      .logo{
        width: 100px;
      }

      nav ul{
        display: none;
      }
      .burger{
        display: inline-block;
      }
  }


  :root{
    --color-text: #616161;
    --color-text-btn: #ffffff;
    --card1-gradient-color1: #f12711;
    --card1-gradient-color2: #f5af19;
    --card2-gradient-color1: #7F00FF;
    --card2-gradient-color2: #E100FF;
    --card3-gradient-color1: #3f2b96;
    --card3-gradient-color2: #a8c0ff;
    --card4-gradient-color1: #11998e;
    --card4-gradient-color2: #38ef7d;
  }
  .card-project{
    font-family: 'Roboto', sans-serif;
margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 80px auto;
  }
  .card-wrap{
    width: 220px;
    background: #fff;
    border-radius: 20px;
    border: 5px solid #fff;
    overflow: hidden;
    color: var(--color-text);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
                rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
    transition: all .2s ease-in-out;
  }
  .card-wrap:hover{
    transform: scale(1.1);
  }
  .card-header{
    height: 200px;
    width: 100%;
    background: red;
    border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
    display: grid;
    place-items: center;
  
  }
  
  .card-header i{
    color: #fff;
    font-size: 72px;
  }
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
  }
  .card-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    
  }
  .card-text{
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
  }
  .card-btn{
    border: none;
    border-radius: 100px;
    padding: 5px 30px;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .card-header.one{
    background: linear-gradient(to bottom left, #201245, #4faae2);
  }

  .card-btn.one{
    background:linear-gradient(to left, #4faae2, #201245);
  }
